rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Common function to check if user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Allow users to upload files to their own directory
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }

    // Allow access to public assets
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
